<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
		
	</configSections>
	<connectionStrings>
		<add name="Model.Properties.Settings.ket45d4e_webConnectionString" connectionString="Data Source=42.112.36.5;Initial Catalog=ketnoitructuyen_bvcmet_com_db;Persist Security Info=True;User ID=ketnoitructuyen_bvcmet_com_sa;Password=0123456789" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha "/>
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
			
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<rewriter>
		<rewrite url="~/in{1}/(.+).html" to="~/vi-vn/print-page.aspx?purl=$1" processing="stop"/>
		<rewrite url="~/trang-chu{1}.html" to="~/Default.aspx"/>
		<rewrite url="~/index{1}.html" to="~/vi-vn/e-Home.aspx"/>
		<rewrite url="~/tim-kiem{1}.aspx(\?page=(.+))?" to="~/vi-vn/page_default.aspx?page=$2&amp;type=5" processing="stop"/>
		<rewrite url="~/search-result{1}.html(\?page=(.+))?" to="~/vi-vn/e-page_default.aspx?page=$2&amp;type=5" processing="stop"/>
		<rewrite url="~/lien-he{1}.aspx" to="~/vi-vn/Contact.aspx?type=10"/>
		<rewrite url="~/m-lien-he{1}.aspx" to="~/MOBILE/vi-vn/Contact.aspx?type=10"/>
		<rewrite url="~/e-contact{1}.html" to="~/vi-vn/e-Contact.aspx"/>
		<rewrite url="~/so-sanh{1}.html(\?typesosanh=(.+))?" to="~/vi-vn/Page-so-sanh.aspx?typesosanh=$2&amp;type=5" processing="stop"/>
		<rewrite url="~/gio-hang.aspx" to="~/vi-vn/cart-result.aspx?type=19"/>
		<rewrite url="~/in-bao-gia.aspx" to="~/vi-vn/Page-bao-gia-print.aspx?type=19"/>
		<rewrite url="~/m-gio-hang.aspx" to="~/MOBILE/vi-vn/cart-result.aspx?type=19"/>
		<rewrite url="~/m-dang-nhap.aspx" to="~/MOBILE/vi-vn/Sign-in.aspx?type=19"/>
		<rewrite url="~/m-quen-mat-khau.aspx" to="~/MOBILE/vi-vn/Forget-pass.aspx?type=19"/>
		<rewrite url="~/don-hang.aspx" to="~/vi-vn/Check-order.aspx?type=19"/>
		<rewrite url="~/thanh-toan-buoc-1.aspx" to="~/vi-vn/Payment-step1.aspx?type=20"/>
		<rewrite url="~/thanh-toan-buoc-1-mobile.aspx" to="~/MOBILE/vi-vn/Payment-step1.aspx?type=20"/>
		<rewrite url="~/thanh-toan-buoc-2.aspx(\?typepay=(.+))?" to="~/vi-vn/Payment-step2.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/thanh-toan-buoc-2-mobile.aspx(\?typepay=(.+))?" to="~/MOBILE/vi-vn/Payment-step2.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/thanh-toan-buoc-3.aspx(\?typepay=(.+))?" to="~/vi-vn/Payment-step3.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/thanh-toan-buoc-3-mobile.aspx(\?typepay=(.+))?" to="~/MOBILE/vi-vn/Payment-step3.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/thanh-toan-buoc-4.aspx(\?typepay=(.+))?" to="~/vi-vn/Payment-step4.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/thanh-toan-buoc-4-mobile.aspx(\?typepay=(.+))?" to="~/MOBILE/vi-vn/Payment-step4.aspx?typepay=$2&amp;type=20"/>
		<rewrite url="~/finish.aspx(\?orderid=(.+))?" to="~/vi-vn/Payment-finish.aspx?orderid=$2&amp;type=20"/>
		<rewrite url="~/finish-mobile.aspx(\?orderid=(.+))?" to="~/MOBILE/vi-vn/Payment-finish.aspx?orderid=$2&amp;type=20"/>
		<rewrite url="~/in{1}/(.+).html" to="~/vi-vn/print-page.aspx?purl=$1" processing="stop"/>
		<rewrite url="~/print{1}/(.+).html" to="~/vi-vn/e-print-page.aspx?purl=$1" processing="stop"/>
		<rewrite url="~/dang-ky.aspx" to="~/vi-vn/Register-member.aspx?type=11"/>
		<rewrite url="~/m-dang-ky.aspx" to="~/MOBILE/vi-vn/Register-member.aspx?type=11"/>
		<rewrite url="~/doi-mat-khau.aspx" to="~/vi-vn/Change-pass.aspx?type=11"/>
		<rewrite url="~/m-doi-mat-khau.aspx" to="~/MOBILE/vi-vn/Change-pass.aspx?type=11"/>
		<rewrite url="~/dia-chi-giao-hang.aspx" to="~/vi-vn/User-address.aspx?type=11"/>
		<rewrite url="~/m-dia-chi-giao-hang.aspx" to="~/MOBILE/vi-vn/User-address.aspx?type=11"/>
		<rewrite url="~/thong-tin-ca-nhan.aspx" to="~/vi-vn/userinfo.aspx?type=11"/>
		<rewrite url="~/m-thong-tin-ca-nhan.aspx" to="~/MOBILE/vi-vn/userinfo.aspx?type=11"/>
		<rewrite url="~/lich-su-mua-hang.aspx" to="~/vi-vn/Order-payment.aspx?type=11"/>
		<rewrite url="~/m-lich-su-mua-hang.aspx" to="~/MOBILE/vi-vn/Order-payment.aspx?type=11"/>
		<rewrite url="~/quan-ly-tai-khoan.aspx" to="~/vi-vn/User-manager.aspx?type=11"/>
		<rewrite url="~/m-quan-ly-tai-khoan.aspx" to="~/MOBILE/vi-vn/User-manager.aspx?type=11"/>
		<rewrite url="~/gio-vang-gia-soc.aspx" to="~/vi-vn/Giovang.aspx?type=11"/>
    
		<rewrite url="~/chuyen-muc/(.+).html(\?page=(.+))?" to="~/vi-vn/page_default.aspx?purl=$1&amp;page=$3&amp;type=3"/>
		<!--<rewrite url="~/(.+).aspx" to="~/vi-vn/page_default.aspx?purl=$1&amp;type=6"/>-->
    <rewrite url="~/(.+).html(\?page=(.+))?" to="~/vi-vn/page_default.aspx?purl=$1&amp;page=$3&amp;type=6"/>
		<rewrite url="~/tin-tuc/(.+).html" to="~/vi-vn/page_default.aspx?purl=$1&amp;type=7"/>
    
		<!--<rewrite url="~/(.+){1}/(.+).html" to="~/vi-vn/page_default.aspx?purl=$2&amp;type=6" />-->
		<!--<rewrite url="~/(.+).html(\?page=(.+))?" to="~/vi-vn/page_default.aspx?purl=$1&amp;page=$3&amp;type=3" />-->
	</rewriter>
	<appSettings>
		<add key="LogFiles" value="Logfiles/Error.log"/>
		<add key="URLWebRoot" value=""/>
		<add key="USDRate" value="20965"/>
		<add key="Email" value="no-reply@ketnoitructuyen.com"/>
		<add key="EmailPassword" value="12345678"/>
		<add key="EmailDisplayName" value="ketnoitructuyen.com"/>
		<add key="EmailHost" value="mail.ketnoitructuyen.com"/>
		<add key="EmailPort" value="25"/>
		<add key="URLWebsite" value="http://ketnoitructuyen.com"/>
	</appSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
			
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="wc" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
		</handlers>
	</system.webServer>
	<location path="cpanel">
	</location>
</configuration>
