<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="happybuy_com_vnConnectionString1" connectionString="Data Source=172.28.248.1;Initial Catalog=happybuy_com_vn;Persist Security Info=True;User ID=truongnt;Password=GFHkpgp73P"
      providerName="System.Data.SqlClient" />-->
    <add name="ketnoitructuyen2_comConnectionString" connectionString="Data Source=mssql177.dotvndns.vn;Initial Catalog=ketnoitructuyen_com;Persist Security Info=True;User ID=sa_ketnoi;Password=LKHijyu986gb" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1024000" appRequestQueueLimit="100" requestLengthDiskThreshold="100240000" />

    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="LogFiles" value="LogFiles\error.log" />
    <!--<add key="Subweb" value="/eshop"/>-->

    <add key="URLWebsite1" value="http://ketnoitructuyen.com" />

    <add key="Email" value="no-reply@dangcapviet.vn" />
    <add key="EmailPassword" value="B9ETFXTH6h" />
    <add key="EmailDisplayName" value="ketnoitructuyen.com" />
    <add key="EmailHost" value="mail.dangcapviet.vn" />
    <add key="EmailPort" value="25" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="wc" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
  </system.webServer>
</configuration>
